jupyter
notebook
ipykernel
numpy
pandas
matplotlib
opencv-python
pillow
scikit-image
scikit-learn
torch
torchvision
anomalib
fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
email-validator
motor
beanie
passlib[bcrypt]
python-jose[cryptography]
cloudinary
pytest
httpx
black
ruff
