fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
email-validator
motor
beanie
passlib[bcrypt]
python-jose[cryptography]
cloudinary
opencv-python-headless
numpy
pillow
joblib
pandas
scikit-learn
torch
torchvision
reportlab
